body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#websocket-chat{
    max-width: 1920px;
    margin: 30px auto;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 750px;
    max-width: 1920px;
    overflow: auto;
    background: #36383e;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    color: #fff;
}

#feedback p{
    color: #fff;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #fff;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #41454b;
    border: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #41454b;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}